<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Vue JS app with Firebase</title>

        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div id="app">
            <p>{{ message }}</p>
            <div v-if="!islogin">
                <p>
                    <label for="email">Email</label>
                    <input type="text" v-model="account.email" placeholder="myemail@email.com" />
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" v-model="account.password" placeholder="password" />
                </p>
                <p>
                    <button v-on:click="login">Login</button>
                </p>
            </div>
            <p v-if="islogin">
                <button v-on:click="logout">Logout</button>
            </p>
        </div>
        <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>